<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="FromEmail" value="techhooters@gmail.com"/>
    <add key="Password" value="Hooters@2019"/>
    <add key="Port" value="587"/>
    <add key="Subject" value="New Registration on Tech Hooters"/>
  </appSettings>
</configuration>