<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Hackathon.Boilerplate.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, Hackathon.Boilerplate.Foundation.DependencyInjection"/>
      <configurator type="Hackathon.Boilerplate.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, Hackathon.Boilerplate.Foundation.DependencyInjection"/>
    </services>
    <!--<pipelines>
      <httpRequestBegin>
        <processor type="GlassDemo.Project.Demo.Pipeline.NotFoundProcessor, Hackathon.Boilerplate.Foundation.DependencyInjection" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>-->
  </sitecore>
</configuration>