<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="SMTPHost" value="smtp.gmail.com"/>
      <setting name="FromEmail" value="techhooters@gmail.com"/>
      <setting name="Password" value="Hooters@2019"/>
      <setting name="Port" value="587"/>
      <setting name="Subject" value="New Registration on Tech Hooters"/>
    </settings>
  </sitecore>
</configuration>